html{
  /*colbalt blue*/
  background-color: #556499;
  /*background: url('../imgs/moss-background.jpg');*/
}

img{
  max-width: 100%;
}

body{
  line-height: 1.5;
  font-size: 100%;
  /*robins egg blue*/
  color: #9bc1cc;
}

hr{
  margin: 1em;
  width: 70%;
  /*off white*/
  color: #dae1da;
}

a{
  list-style-type: none;
}
/*TEXT STYLES======================================*/
p{
  font-size: 1em;
}

address{
  display: inline-block;
}

/*LINK STYLES=====================================*/
/*a, a:link a:active {
  text-decoration: none;
  color: #4b7f52;
}

a:hover a:focus{
  color: #9bc1cc;
}*/
